@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --branco: white;
    --cor-de-fundo: #093C5D;
    --fundo-senha: #3B7597;
    --fundo-texto: #6FD1D7;
    --borda: #5DF8D8;
    --fonte: "Fira Sans", sans-serif;
}
*{
    font-weight:400;

}
body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte)
}
.titulo-principal
font-family: var (--fonte){
}
.titulo-segundario{
    font-size: 24px;
    text-align: center;
    margin: 80px;
}
.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}
.cadeado-conteudo{
    width: 100px;
}
.conteudo-senha{
    margin-top: 80px;
    background: var(--fundo-senha);
    padding: 24px;
    barder-bottom: 6px solid var (--borda);
}
#campo-senha{
    background-color: var (--fundo-senha);
    border: none;
    color: var (--branco);
    font-size: 40px;
    width: 50%;
}
#campo-senha:focus{
    outline:none;
}
.conteudo-senha{
    max-width: 1200px;
    margin: 0 auto;
}
.parametro{
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 32px;
    padding: 24px;
}
.parametro-senha__titulo{
    font-size: 24px;
}
.parametro-coluna__senha{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.parametro-senha{
    width: 50%;
    margin: 0 auto;
}
.parametro-senha__botoes{
    display: flex;
    justify-content: center;
}
.parametro-senha-botao{
    background-color: var(--fundo-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
    font-size: 24px;
    cursor:pointer;
}
.parametro-senha__texto{
    padding: 24px;
    border-top: 2px solid var(--borda);
    border-bottom: 2px solid var(--borda);
    margin: 0;
    font-size: 24px;
}
.label{
    font-size: 20px;
}
.checkbox{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.barra{
    background-color: var(--fundo-senha);
    height: 30px;
    width: 100%;
}
.forca{
    height: 30px;
    position: relative;
    bottom: 30px;
}
.fraca{
    width: 25%;
    background-color: #6FD1D7;
}
.media{
    width: 25%;
    background-color: #d7d56f;
}
.forte{
    width: 25%;
    background-color: #fa3bab;
}